.container
	.footer-content
		.footer-logo
			img(src="img/footer-logo-icon.png" alt="Logo")
		ul.footer-links
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Product
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Pricing
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Features
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Resources
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Blog
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Security
			li
				a.footer-link-effect(href="javascript:void(0);")
					| FAQ 
		ul.footer-links.footer-others
			li
				a.footer-link-effect(href="javascript:void(0);")
					| News Center
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Team
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Careers
			li
				a.footer-link-effect(href="javascript:void(0);")
					| Contact Us
		ul.social-links
			li
				a.social-icons.fa.fa-linkedin(href="javascript:void(0);")
					| Linkedin
			li
				a.social-icons.fa.fa-youtube-play(href="javascript:void(0);")
					| Linkedin
			li
				a.social-icons.fa.fa-twitter(href="javascript:void(0);")
					| Linkedin
			li
				a.social-icons.fa.fa-facebook(href="javascript:void(0);")
					| Linkedin
	.footer-copyright
		p
			| Copyright 2015 VYMO, All rights reserved.